##### 파이썬 프로젝트

In [1]:
# pandas 라이브러리 사용
import pandas as pd

# read_csv -> csv 파일을 데이터프레임으로 변환
# encoding='CP949'는 마이크로소프트는 한글 인코딩을 CP949으로 하기때문에 넣어야한다고 함 잘모름 그냥 넣으라해서 넣은거
not_use_df = pd.read_csv('한국전기안전공사_사업소별 전기화재 평균 현황_20161231(안씀).csv', encoding='CP949')
not_use_df2 = pd.read_csv('한국전기안전공사_전기재해(인명피해) 현황_20141231(안씀).csv', encoding='CP949')

In [92]:
# 안쓰는 이유 : 사용하기엔 다른 자료에 비해서 오래된 년도 데이터를 기자고 있음 (다른 자료는 2016~2022 년도)
not_use_df

     년도  총사고건수  월평균건수  일평균건수
0  2012   9225    769     25
1  2013   8889    741     24
2  2014   8287    691     23
3  2015   7764    647     21
4  2016   7801    650     21

In [93]:
# 안쓰는 이유 : 이하동문
not_use_df2

      연도  총화재건수  전기화재사고(사망)  전기화재사고(부상)
0  2014년  42135          31         295
1  2013년  40669          43         285
2  2012년  43202          49         349
3  2011년  43875          27         235
4  2010년  41862          48         217

In [2]:
# 한국전기안전공사_연도별 감전사고사상자현황_화상범위별_20221231
new_df = pd.read_csv('한국전기안전공사_연도별 감전사고사상자현황_화상범위별_20221231.csv', encoding='CP949')

#인덱스 제거 및 재지정
new_df.set_index('연도' , inplace=True)

new_df

      0-5  6-10  11-20  21-30  31-40  41-50  51-60  60초과
연도
2015  374    93     30     16      6      5      2    32
2016  300   184     35     16      3      2      2     4
2017  357   102     38     24      7      2      1     1
2018  339   101     46     19      4      4      1     1
2019  393    61     36      8      6      2      0     2
2020  272    67     35     19      8      2      2     3
2021  261    74     45     19      8      3      2     0
2022  258    77     38     14     11      3      1     3

In [3]:
#한국전기안전공사_연도별 감전사고인명피해현황-요일별
new_df2=pd.read_csv('한국전기안전공사_연도별 감전사고인명피해현황-요일별_20221231.csv', encoding='CP949')

#인덱스 제거 및 재지정
new_df2.set_index('연도' , inplace=True)

new_df2

      일요일(명)  월요일(명)  화요일(명)  수요일(명)  목요일(명)  금요일(명)  토요일(명)
연도
2015      59      92      90      64     108      82      63
2016      55      75      74      90      98      86      68
2017      48      95      77      77      92      88      55
2018      36      99      81      89      81      70      59
2019      43      94      72      69      92      83      55
2020      32      64      57      72      71      62      50
2021      41      71      54      76      60      65      45
2022      47      59      67      56      65      53      58

In [99]:
#한국전기안전공사_연도별 전기재해 현황 _감전_20221231
new_df3=pd.read_csv('한국전기안전공사_연도별 전기재해 현황 _감전_20221231.csv', encoding='CP949')

#인덱스 제거 및 재지정
new_df3.set_index('연도' , inplace=True)

new_df3

      총사고 건수  월평균 건수  일평균 건수
연도
2016     546    45.5     1.5
2017     532    44.3     1.5
2018     515    42.9     1.4
2019     508    42.3     1.4
2020     408    34.0     1.1
2021     412    34.3     1.1
2022     405    33.7     1.1

In [100]:
# 한국전기안전공사_연도별 감전사고인명피해현황 시간별_20221231
new_df4=pd.read_csv('한국전기안전공사_연도별 감전사고인명피해현황 시간별_20221231.csv', encoding='CP949')

# 위 데이터프레임을 다른 데이터프레임 처럼 
# 인덱스를 연도로 바꾸기 위해 발생시간이 열(속성)으로 보내고
# 연도 를 행(인덱스)로 만들 필요가 있음
new_df4

     발생시간  2016  2017  2018  2019  2020  2021  2022
0   00~02     5     3     5     3     6     4     1
1   02~04     1     5     6     6     2     2     5
2   04~06     1     3     7     1     4     5     5
3   06~08    11    18    17     5    24    21    27
4   08~10    39    58    57    38    85    89    71
5   10~12    90    95   104   106    72    57    71
6   12~14    58    61    64    77    64    89    74
7   14~16    69   101    90   118    64    70    73
8   16~18    75    75    71    65    33    33    34
9   18~20    42    43    36    51    18    22    20
10  20~22    33    32    25    26    16    12     8
11  22~24    13    19    16    12    20     8    16
12     미상   109    19    17     0     0     0     0

In [101]:
#인덱스 제거 및 재지정
new_df4.set_index('발생시간', inplace=True)

#인덱스를 재지정한 데이터프레임 확인
new_df4

       2016  2017  2018  2019  2020  2021  2022
발생시간
00~02     5     3     5     3     6     4     1
02~04     1     5     6     6     2     2     5
04~06     1     3     7     1     4     5     5
06~08    11    18    17     5    24    21    27
08~10    39    58    57    38    85    89    71
10~12    90    95   104   106    72    57    71
12~14    58    61    64    77    64    89    74
14~16    69   101    90   118    64    70    73
16~18    75    75    71    65    33    33    34
18~20    42    43    36    51    18    22    20
20~22    33    32    25    26    16    12     8
22~24    13    19    16    12    20     8    16
미상      109    19    17     0     0     0     0

In [102]:
# 행과 열을 바꾸는 작업을 수행해야함 -> transpose() 사용 
new_df4 = new_df4.transpose()
new_df4

발생시간,00~02,02~04,04~06,06~08,08~10,10~12,12~14,14~16,16~18,18~20,20~22,22~24,미상
2016,5,1,1,11,39,90,58,69,75,42,33,13,109
2017,3,5,3,18,58,95,61,101,75,43,32,19,19
2018,5,6,7,17,57,104,64,90,71,36,25,16,17
2019,3,6,1,5,38,106,77,118,65,51,26,12,0
2020,6,2,4,24,85,72,64,64,33,18,16,20,0
2021,4,2,5,21,89,57,89,70,33,22,12,8,0
2022,1,5,5,27,71,71,74,73,34,20,8,16,0

In [103]:
# 인덱스 이름이 사라지질 않아서 딕셔너리 형식으로 바꾼 후 다시 데이터프레임으로 변환
new_dict = new_df4.to_dict()
print(new_dict)
new_df4 = pd.DataFrame(new_dict)

{'00~02': {'2016': 5, '2017': 3, '2018': 5, '2019': 3, '2020': 6, '2021': 4, '2022': 1}, '02~04': {'2016': 1, '2017': 5, '2018': 6, '2019': 6, '2020': 2, '2021': 2, '2022': 5}, '04~06': {'2016': 1, '2017': 3, '2018': 7, '2019': 1, '2020': 4, '2021': 5, '2022': 5}, '06~08': {'2016': 11, '2017': 18, '2018': 17, '2019': 5, '2020': 24, '2021': 21, '2022': 27}, '08~10': {'2016': 39, '2017': 58, '2018': 57, '2019': 38, '2020': 85, '2021': 89, '2022': 71}, '10~12': {'2016': 90, '2017': 95, '2018': 104, '2019': 106, '2020': 72, '2021': 57, '2022': 71}, '12~14': {'2016': 58, '2017': 61, '2018': 64, '2019': 77, '2020': 64, '2021': 89, '2022': 74}, '14~16': {'2016': 69, '2017': 101, '2018': 90, '2019': 118, '2020': 64, '2021': 70, '2022': 73}, '16~18': {'2016': 75, '2017': 75, '2018': 71, '2019': 65, '2020': 33, '2021': 33, '2022': 34}, '18~20': {'2016': 42, '2017': 43, '2018': 36, '2019': 51, '2020': 18, '2021': 22, '2022': 20}, '20~22': {'2016': 33, '2017': 32, '2018': 25, '2019': 26, '2020': 16, '2021': 12, '2022': 8}, '22~24': {'2016': 13, '2017': 19, '2018': 16, '2019': 12, '2020': 20, '2021': 8, '2022': 16}, '미상': {'2016': 109, '2017': 19, '2018': 17, '2019': 0, '2020': 0, '2021': 0, '2022': 0}}

In [105]:
# 인덱스 이름 지정
new_df4.index.name = '연도'

# 확인
new_df4

In [4]:
# 사용하고자하는 자료 중 년도가 2015 부터 시작 하는 자료가 있음

# 한국전기안전공사_연도별 감전사고사상자현황_화상범위별_20221231 -> new_df
# 한국전기안전공사_연도별 감전사고인명피해현황-요일별 -> new_df2

# 다른 자료들은 2016년도 부터 시작하므로 위에 있는 자료의 2015년도 자료는 없애기로 결정


#2015년도 자료(행)를 없애기 행없애기 -> .drop('행이름')
new_df.drop(2015 , inplace=True)
new_df2.drop(2015, inplace=True)

In [7]:
#2015년도 행이 삭제 되었는지 확인
new_df.to_csv('파이썬_1차프로젝트_산출물\한국전기안전공사_연도별_감전사고사상자현황_화상범위별.csv')
new_df

      0-5  6-10  11-20  21-30  31-40  41-50  51-60  60초과
연도
2016  300   184     35     16      3      2      2     4
2017  357   102     38     24      7      2      1     1
2018  339   101     46     19      4      4      1     1
2019  393    61     36      8      6      2      0     2
2020  272    67     35     19      8      2      2     3
2021  261    74     45     19      8      3      2     0
2022  258    77     38     14     11      3      1     3

In [8]:
#2015년도 행이 삭제 되었는지 확인2
new_df2.to_csv('파이썬_1차프로젝트_산출물\한국전기안전공사_연도별_감전사고인명피해현황_요일별.csv')
new_df2

      일요일(명)  월요일(명)  화요일(명)  수요일(명)  목요일(명)  금요일(명)  토요일(명)
연도
2016      55      75      74      90      98      86      68
2017      48      95      77      77      92      88      55
2018      36      99      81      89      81      70      59
2019      43      94      72      69      92      83      55
2020      32      64      57      72      71      62      50
2021      41      71      54      76      60      65      45
2022      47      59      67      56      65      53      58

<br> 이제 여기서 테이블을 작성을 어떻게 할것인가에 대해서도 적어놔야할지 모르겠음
<br> 기본키값으로 줄 인덱스를 통일시켜버려서 그냥 테이블을 합쳐버릴수도 있긴한데
<br> 인덱스 테이블 생성?
<hr>
<br>한국전기안전공사_연도별 감전사고사상자현황_화상범위별_20221231 테이블
<br> 한국전기안전공사_연도별 감전사고인명피해현황-요일별 테이블
<br>한국전기안전공사_연도별 전기재해 현황 _감전_20221231 테이블 
<br> 한국전기안전공사_연도별 감전사고인명피해현황 시간별_20221231 테이블

<hr>

<br> 그냥 위에 테이블을 다 보여줄 일이 생긴다면 그냥 뷰 생성하는걸로

# 추가한 테이블

In [1]:
import pandas as pd
# 새로운 테이블 
df1 = pd.read_csv('한국전기안전공사_전기화재통계_20221231.csv', encoding='CP949')
df2 = pd.read_csv('한국전기안전공사_연도별 전기화재 발생요인_20221231.csv',  encoding='CP949', index_col='구분')

In [72]:
#확인1
df1

   행정구역별  2016년  2017년  2018년  2019년  2020년  2021년  2022년
0     서울   1138   1180   1412   1199   1175   1250   1357
1     부산    409    457    563    590    518    408    417
2     대구    273    287    319    260    276    247    250
3     인천    417    397    481    353    361    392    374
4     광주    186    144    185    167    166    181    147
5     대전    206    221    272    238    207    201    197
6     세종     55     50     53     43     45     57    172
7     울산    129    152    163    163    159    144     57
8     경기   2007   2067   2403   2082   2173   2198   2380
9     강원    326    347    396    333    370    393    447
10    충북    210    250    254    283    298    281    351
11    충남    384    422    491    453    461    495    502
12    전북    267    346    418    357    335    353    352
13    전남    376    456    478    442    453    472    497
14    경북    430    468    526    404    455    441    500
15    경남    629    635    658    642    581    576    636
16    제주    121    132    168    146    137    152    166

In [2]:
#확인2
df2

              2016  2017  2018  2019  2020  2021  2022
구분
절연열화에 의한 단락   1934  1995  2268  1903  1732  1754  1630
트래킹에 의한 단락     882   854  1109   992  1129  1119  1180
압착 손상에 의한 단락   478   505   560   454   401   372   357
층간 단락           92    88    92   101   111    94   102
미확인 단락        1738  2091  2204  2153  2294  2415  2919
과부하 및 과전류      787   754   970   688   628   655   617
누전 지락          282   301   373   302   327   241   247
접촉 불량          747   795   956   856   799   847   914
반단선            162   174   209   180   195   158   189
기타             461   454   499   526   554   586   647

In [73]:
# 위 데이터프레임을 다른 데이터프레임 처럼 
# 인덱스를 연도로 바꾸기 위해 발생시간이 열(속성)으로 보내고
# 연도 를 행(인덱스)로 만들 필요가 있음

#인덱스 제거 및 재지정, 행열 변환
df1.set_index('행정구역별' ,inplace=True)
df1 = df1.transpose()

In [74]:
#인덱스명을 지우기 위한 딕셔너리 변환후 다시 데이터프레임 처리
new_dict = df1.to_dict()
df1 = pd.DataFrame(new_dict)

In [109]:
#인덱스명 재지정 및 확인
df1.index.name='연도'
df1
df1.to_csv('파이썬_1차프로젝트_산출물\한국전기안전공사_연도별_전기화재통계.csv')

In [78]:
#연도에 ****끝에 붙어있는 년을 없애는 작업
#인덱스 정보를 리스트로 변환한 후 저장
index_list = list(df1.index)

In [79]:
new_index_list = []
for i in index_list:
    new_index_list.append(i.replace("년", ""))

In [81]:
new_index_list
#'연'을 제거한 인덱스를 데이터프레임에 덮어쓰기
df1.index = new_index_list

In [82]:
#확인
df1

,서울,부산,대구,인천,광주,대전,세종,울산,경기,강원,충북,충남,전북,전남,경북,경남,제주
2016,1138,409,273,417,186,206,55,129,2007,326,210,384,267,376,430,629,121
2017,1180,457,287,397,144,221,50,152,2067,347,250,422,346,456,468,635,132
2018,1412,563,319,481,185,272,53,163,2403,396,254,491,418,478,526,658,168
2019,1199,590,260,353,167,238,43,163,2082,333,283,453,357,442,404,642,146
2020,1175,518,276,361,166,207,45,159,2173,370,298,461,335,453,455,581,137
2021,1250,408,247,392,181,201,57,144,2198,393,281,495,353,472,441,576,152
2022,1357,417,250,374,147,197,172,57,2380,447,351,502,352,497,500,636,166

In [83]:
#인덱스 이름 지정해주기
df1.index.name = '연도'
#확인
df1

,서울,부산,대구,인천,광주,대전,세종,울산,경기,강원,충북,충남,전북,전남,경북,경남,제주
연도,,,,,,,,,,,,,,,,,
2016,1138,409,273,417,186,206,55,129,2007,326,210,384,267,376,430,629,121
2017,1180,457,287,397,144,221,50,152,2067,347,250,422,346,456,468,635,132
2018,1412,563,319,481,185,272,53,163,2403,396,254,491,418,478,526,658,168
2019,1199,590,260,353,167,238,43,163,2082,333,283,453,357,442,404,642,146
2020,1175,518,276,361,166,207,45,159,2173,370,298,461,335,453,455,581,137
2021,1250,408,247,392,181,201,57,144,2198,393,281,495,353,472,441,576,152
2022,1357,417,250,374,147,197,172,57,2380,447,351,502,352,497,500,636,166

In [3]:
# 위 데이터프레임을 다른 데이터프레임 처럼 
# 인덱스를 연도로 바꾸기 위해 발생시간이 열(속성)으로 보내고
# 연도 를 행(인덱스)로 만들 필요가 있음

#인덱스 제거 및 재지정, 행열 변환
#df2.set_index('구분' ,inplace=True)
df2 = df2.transpose()

In [4]:
#인덱스명을 지우기 위한 딕셔너리 변환후 다시 데이터프레임 처리
new_dict = df2.to_dict()
df2 = pd.DataFrame(new_dict)

In [5]:
#인덱스명 재지정 및 확인
df2.index.name='연도'
df2

,절연열화에 의한 단락,트래킹에 의한 단락,압착 손상에 의한 단락,층간 단락,미확인 단락,과부하 및 과전류,누전 지락,접촉 불량,반단선,기타
연도,,,,,,,,,,
2016,1934,882,478,92,1738,787,282,747,162,461
2017,1995,854,505,88,2091,754,301,795,174,454
2018,2268,1109,560,92,2204,970,373,956,209,499
2019,1903,992,454,101,2153,688,302,856,180,526
2020,1732,1129,401,111,2294,628,327,799,195,554
2021,1754,1119,372,94,2415,655,241,847,158,586
2022,1630,1180,357,102,2919,617,247,914,189,647

In [6]:
df2.to_csv('파이썬_1차프로젝트_산출물\한국전기안전공사_연도별_전기화재발생요인.csv')

In [ ]:
# 테이블 생성을 위한 함수
def createTable(sql, conn):
    cursor = conn.cursor(pymysql.cursors.DictCursor)
    cursor.excute(sql)

In [ ]:
#데이터 베이스에 Insert 하기 위한 함수
def insertData(dict, conn):
    cursor = conn.cursor(pymysql.cursors.DictCursor)
    columns = list(dict.keys())
    
    sql = "INSERT INTO YEAR_BY_TIME"
    sql = sql + " VALUES "

    index = columns[0]
    for i in (range(len(dict[index]))):
    
        for idx,column in enumerate(columns) :
        
            if(idx == 0):
                sql = sql + "("
            sql = sql + f"{dict[column][i]}"

            if(idx+1 == len(columns)):
                sql = sql + ")"
            else:
                sql = sql + ","
        if(i+1 != len(dict[index])):
            sql = sql + ',' 
    
    print(sql)
    cursor.execute(sql)
    conn.commit()