In [2]:
data = {
    '이름' : ['김자바','이자바','박자바','최캐드','정캐드'],
    '학급' : ['자바반','자바반','자바반','캐드반','캐드반'],
    '국어점수' : [90, 80, 70, 100, 90],
    '영어점수' : [70, 80, 70, 90, 90],
    '평균' : [80.0, 80.0, 75.0, 85.0, 90.0],
    '취미' : ['독서', '', '', '요가', '축구']
}

In [3]:
import pandas as pd
df = pd.DataFrame(data)
df.describe()

             국어점수  영어점수         평균
count    5.000000   5.0   5.000000
mean    86.000000  80.0  82.000000
std     11.401754  10.0   5.700877
min     70.000000  70.0  75.000000
25%     80.000000  70.0  80.000000
50%     90.000000  80.0  80.000000
75%     90.000000  90.0  85.000000
max    100.000000  90.0  90.000000

In [12]:
# 특정 컬럼의 통계 확인
df['국어점수'].min()
df['국어점수'].max()
df['국어점수'].mean()
df['취미'].count() #NaN 값은 갯수에서 제외
df['국어점수'].sum()
df['국어점수'].nlargest(3)

3    100
0     90
4     90
Name: 국어점수, dtype: int64

In [13]:
# 컬럼에서 중복 제외한 데이터만 조회
df['학급'].unique()
# 컬럼에서 중복 제외한 데이터의 개수
df['학급'].nunique()

2