### 외부 API를 활용한 데이터 수집 및 가공 평가

##### 1. 키보드로 두 수를 입력받아 큰 수부터 출력하는 프로그램을 작성하시요. 단, 입력받는 두 수는 중복이 없다고 가정한다.

In [2]:
# 1번 문제 답안 작성
num1 = int(input('첫번째 숫자를 입력해주세요'))
num2 = int(input("두번째 숫자를 입력해주세요"))

if num1 < num2 :
    print(f'큰수 : {num2}')
    print(f'작은수 : {num1}')
else:
    print(f'큰수 : {num1}')
    print(f'작은수 : {num2}')

큰수 : 999
작은수 : 123

##### 2. 키보드로 세 수를 입력받고,입력받은 세 수를 리스트에 저장하시오.<br> 그 후 리스트에 저장된 수 중 가장 큰 수와 가장 작은 수의 차를 출력하시오. (10점)

In [7]:
# 2번 문제 답안 작성
numList = []
for i in range(3):
    num = int(input(f'{i+1}번째 숫자를 입력해주세요'))
    numList.append(num)
print(f'가장 큰 수와 작은수의 차 = {max(numList) - min(numList)}')

가장 큰 수와 작은수의 차 = 99

##### 3. 매개변수로 두 정수를 받아, 두 정수 사이의(두 정수 포함) 모든 정수를 갖는 리스트를 리턴하는 함수를 구현하시오.

In [9]:
# 3번 문제 답안 작성
num1 = int(input('첫번째 수를 입력해주세요'))
num2 = int(input('두번째 수를 입력해주세요'))
def listReturn(num1 , num2):
    
    listlist = []
    max, min = 0,0
    if num1 < num2 :
        max, min = num2 , num1
    else :
        max, min = num1 , num2
    
    for i in range(min, max+1):
        listlist.append(i)
    return listlist

listReturn(num1, num2)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

##### 다음 딕셔너리 데이터를 참고하여 아래 문제들을 해결하시오.

In [13]:
# 2012년 광역시별 25세 미만 연령별 인구 데이터
population = {
    '행정기관' : ['서울특별시', '부산광역시', '대구광역시', '인천광역시', '울산광역시'],
    '0~4세' : [214651, 68006, 53515, 69453, 29835],
    '5~9세' : [210833, 68704, 58332, 68555, 29331],
    '10~14세' : [269171, 94802, 91268, 86574, 29035],
    '15~19세' : [335828, 124564, 101110, 106435, 49119],
    '20~24세' : [343797, 125907, 96078, 102297, 43937]
}

##### 4. 2012년 기준 대한민국에서 25세 미만의 인구수 중 인구가 가장 많은 연령대를 출력하시오.

In [11]:
# 4번 문제 답안 작성
max1 = 0
max2 = ''
for index,i in enumerate(population):
    if index == 0:
        continue
    if max1 < sum(population[i]) :
        max1 = sum(population[i])
        max2 = i

print(f'가장 많은 연령대 {max2} : {max1}')

가장 많은 연령대 15~19세 : 717056

##### 5. '총 인구수' 라는 키를 추가하고, 해당 키에 1세부터 24세까지의 인구 합을 데이터로 하여 population 데이터에 추가하시오.

In [12]:
# 5번 문제 답안 작성
# 초기화
population['총 인구수'] = []
del population['총 인구수']

sumList = []
sumNum = 0
listNum = 0
#print((list(population.keys())[0]))
listNum = len(population[(list(population.keys())[0])])
#print(listNum)


for index2 in range(listNum):
    sumNum = 0
    for index, i in enumerate(population):
        if(index == 0):
            continue
        # print(f'{i} {population[i]}')
        sumNum = sumNum + population[i][index2]
        # print(sumNum)
    sumList.append(sumNum)
    # print(sumList)

population['총 인구수'] = sumList
population

{'행정기관': ['서울특별시', '부산광역시', '대구광역시', '인천광역시', '울산광역시'],
 '0~4세': [214651, 68006, 53515, 69453, 29835],
 '5~9세': [210833, 68704, 58332, 68555, 29331],
 '10~14세': [269171, 94802, 91268, 86574, 29035],
 '15~19세': [335828, 124564, 101110, 106435, 49119],
 '20~24세': [343797, 125907, 96078, 102297, 43937],
 '총 인구수': [1374280, 481983, 400303, 433314, 181257]}

##### 다음의 인구 데이터를 DataFrame으로 변환한 내용이다. 아래 내용을 참고하여 문제를 해결하시오.

In [14]:
# 판다스 라이브러리 임포트
import pandas as pd
import numpy as np

# 데이터프레임 생성
df = pd.DataFrame(population)

# 행정기관을 인덱스로 지정
df.index = df['행정기관']

# 컬럼에서 행정기관을 제거
df.drop(['행정기관'], axis=1, inplace=True)

##### 6. 서울특별시, 대구광역시, 울산광역시의 5~9세, 10~14세, 15~19세의 인구수를 조회하시오.

In [15]:
# 6번 문제 답안 작성

df.loc[['서울특별시','대구광역시','울산광역시'],['5~9세', '10~14세', '15~19세']]

         5~9세  10~14세  15~19세
행정기관
서울특별시  210833  269171  335828
대구광역시   58332   91268  101110
울산광역시   29331   29035   49119

##### 7. '총 인구수' 컬럼을 추가하고 인구수의 합을 데이터로 추가하시오.

In [16]:
# 7번 문제 답안 작성

# 초기화
initList = list(df.columns)
# print(initList)
if '총 인구수' in initList : 
    # 위에 있는 컬럼 지우기 코드
    df.drop(['총 인구수'], axis=1, inplace=True)



# 총 인구수를 담을 리스트
listlist =[]
# 총 인구수를 저장할 변수
sumsum = 0 
# 행 갯수 카디널리티? 필드 갯수
# print(len(df.index))
# 컬럼 갯수 len(df.column) 차수
# print(len(df.columns))

for i in range(len(df.index)):
    sumsum = 0
    for j in range(len(df.columns)):
        sumsum = sumsum + df.iloc[i,j]
    listlist.append(sumsum)

df['총 인구수'] = listlist
df
# df['총 인구수'] = df['0~4세'] + df['5~9세']+df['10~14세'] + df['15~19세'] + df['20~24세']
# df

         0~4세    5~9세  10~14세  15~19세  20~24세    총 인구수
행정기관
서울특별시  214651  210833  269171  335828  343797  1374280
부산광역시   68006   68704   94802  124564  125907   481983
대구광역시   53515   58332   91268  101110   96078   400303
인천광역시   69453   68555   86574  106435  102297   433314
울산광역시   29835   29331   29035   49119   43937   181257

##### 8. 20~24세의 인구수가 100,000에서 200,000사이인 데이터를 조회하시오.

In [ ]:
# 8번 문제 답안 작성

In [19]:
print(df.loc[(df['20~24세']>100000) & (df['20~24세']<200000), '20~24세' ])

행정기관
부산광역시    125907
인천광역시    102297
Name: 20~24세, dtype: int64